/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONDO GENERAL */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #7b2cbf, #3c096c);
    color: white;
    text-align: center;
}

/* CONTENEDOR */
.contenedor {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 0;
}

/* BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to right, #3a0ca3, #4361ee);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#MUNDO{
    font-size: 60px;
    color: #00f5ff;
    text-shadow:
        2px 2px 0 #000,
        4px 4px 0 #d424ef,
        6px 6px 0 #b71edd;
}

#GAMER{
    font-size: 60px;
    color: #d424ef;
    text-shadow:
        2px 2px 0 #000,
        4px 4px 0 #00f5ff,
        6px 6px 0 #0c7889;
}

#JUEGOS {
    color: #d424ef;
    text-shadow: 
        2px 0 #00f5ff;
}

#DESTACADOS {
    color: #00f5ff;
    text-shadow: 
        2px 0 #d424ef;
}

.logo {
    width: 70px;
    border-radius: 15px;
}

.banner h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

.banner span {
    color: #00f5ff;
}

/* TITULOS */
h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

h2 span {
    color: #00f5ff;
}

/* JUEGOS */
.juegos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    width: 130px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #00f5ff;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}

/* BOTONES */
.botones {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.botones button {
    padding: 12px 30px;
    border: 2px solid #00f5ff;
    background: transparent;
    color: #00f5ff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

#EXPLORAR {
color: #00f5ff;
text-shadow: 
2px 0 #d424ef;
}

#INFORMACION {
color: #d424ef;
text-shadow: 
2px 0 #00f5ff;
}

.botones button:hover {
    background: #00f5ff;
    color: black;
}

/* ICONOS */
.iconos {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.icono {
    font-size: 30px;
    border: 2px solid #00f5ff;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.icono:hover {
    background: #00f5ff;
    color: black;
}
