body {
    background-color: #7b2cbf;
    color: #00f5ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.titulo-seccion {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #00f5ff;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.portada {
    display: block;
    border: 4px solid #3498db;
    border-radius: 10px;
    width: auto;
    height: auto; 
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portada:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #3498db;
}
