body {
    background-color: #7b2cbf;
    color: #00f5ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ad71e2, #140225);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.titulo-seccion {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #00f5ff;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.portada:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #3498db;
}

.logo {
    width: 90px;
    border-radius: 15px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to right, #140225, #6a7ad3);
    border-radius: 15px;
    margin-bottom: 70px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.contenedor {
    width: 90%;
    max-width: 1600px;
    margin: auto;
    padding: 40px 0;
}

.card {
    width: 130px;
    height: 180px;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #00f5ff;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}

#MUNDO{
    font-size: 60px;
    color: #00f5ff;
    text-shadow:
        2px 2px 0 #000,
        4px 4px 0 #d424ef,
        6px 6px 0 #b71edd;
}

#GAMER{
    font-size: 60px;
    color: #f97cfd;
    text-shadow:
        2px 2px 0 #000,
        4px 4px 0 #00f5ff,
        6px 6px 0 #0c7889;
}